@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

p {
  font-family: "Comfortaa", sans-serif;
}

h1 {
  font-family: "Comfortaa", sans-serif;
  font-weight: bolder;
  font-size: 250%;
  padding-left: 20;
}

body {
  background-image: url("wall.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Comfortaa", sans-serif;
}

li {
  padding-bottom: 5px;
  font-family: "Comfortaa", sans-serif;
  text-decoration: underline;
  text-decoration-color: #1e1b35;
}

.search {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherwidget-io {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 3;
  font-family: "Comfortaa" sans-serif;
  border-radius: 10px;
  border-color: #332d58;
  background-color: #1b1b4bc7;
  -webkit-box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);
  box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);

  width: 97%;
}

.profile {
  border-radius: 50%;
  border-style: solid;
  margin-top: auto;
  margin-bottom: auto;
}

.container {
  width: 70%;
  margin: auto;
}

.title {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-grow: 1;
  color: rgb(215, 215, 250);
  justify-content: space-between;
  height: auto;
  border-radius: 10px;
}

.content {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.butcon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.button {
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
  color: rgb(215, 215, 250);
  border-style: solid;
  border-width: 3px;
  border-color: #332d58;
  background-color: #1b1b4bc7;
  -webkit-box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);
  box-shadow: 11px 13px 40px 3px rgba(0, 0, 0, 1);

  font-size: 30px;
  transition:
    font-size 0.05s ease-out,
    background 0.05s ease-out;

  border-radius: 10px;
  height: 200px;
}

.button:hover {
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(215, 215, 250);
  font-size: 35px;
  background-color: #332d58;
  border-color: #1b1b4bc7;
  transition:
    font-size 0.05s ease-in,
    background 0.05s ease-in;
}

.box {
  border-style: solid;
  border-width: 3;
  border-color: #1b1b4bc7;
  padding-left: 15;
  padding-right: 15;
  flex-grow: 1;
  flex-shrink: 2;
  background-color: #d4d3e0;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 5;
  margin-right: 5;
  min-width: 100;
  font-family: "Comfortaa", sans-serif;
}

.sidebar {
  border-style: solid;
  border-width: 3;
  border-color: #1b1b4bc7;
  width: 400;
  background-color: #332d58;
  height: 100%;
  color: #c5e0dc;
  text-align: left;
  padding-left: 15;
  padding-right: 15;
  border-radius: 10px;
  margin-left: 5;
  margin-right: 5;
  font-family: "Comfortaa", sans-serif;
}
